<!DOCTYPE html>
<html lang="es">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Notificaciones clientes Webpay</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
	<div id="app" class="container">
		<div class="row">
			<div class="col">
				<h1>Notificaciones Webpay</h1>
			</div>
		</div>
		<form>
			<div class="row">
				<div class="form-group form-group-lg col-6">
					<label for="clienteNombre">Nombre del cliente</label>
					<input type="text" name="clienteNombre" class="form-control form-control-lg" id="clienteNombre" v-model="clienteNombre">
				</div>
				<div class="form-group form-group-lg col-6">
					<label for="clienteOF">Orden de transporte</label>
					<input type="text" name="clienteOF" class="form-control form-control-lg" id="clienteOF" maxlength="9" v-model="clienteOF">
				</div>
				<div class="form-group form-group-lg col col-md-6">
					<h2>Email</h2>
					<textarea cols="70" rows="4" class="form-control form-control"><h2>🚚📦¡Tu pedido está en camino!</h2><p>Hola, {{clienteNombre}}. La orden de transporte para que puedas realizar seguimiento es la 👉<b><a href="https://www.starken.cl/seguimiento?codigo={{clienteOF}}">{{clienteOF}}</a></b></p></textarea>
				</div>
				<div class="form-group form-group-lg col col-md-6">
					<h2>En reparto</h2>
					<textarea cols="70" rows="4" class="form-control form-control"><h2>🚚📦¡Tu pedido está en reparto!</h2><p>Hola, {{clienteNombre}}. Recuerda que la orden de transporte para que puedas realizar seguimiento es la 👉<b><a href="https://www.starken.cl/seguimiento?codigo={{clienteOF}}">{{clienteOF}}</a></b></p></textarea>
				</div>
				<div class="form-group form-group-lg col col-md-6">
					<h2>En agencia mail</h2>
					<textarea cols="70" rows="4" class="form-control form-control"><h2>🎉📦¡Tu pedido está disponible para ser retirado!</h2><p>Recuerda que la orden de transporte para que puedas realizar seguimiento es la 👉<b><a href="https://www.starken.cl/seguimiento?codigo={{clienteOF}}">{{clienteOF}}</a></b></p></textarea>
				</div>
				<div class="form-group form-group-lg col col-md-6">
					<h2>En agencia mail recordatorio</h2>
					<textarea cols="70" rows="4" class="form-control form-control"><h2>ℹ️¡Recuerda que tu pedido está disponible para ser retirado!</h2><p>🚚La orden de transporte para que puedas realizar seguimiento es la 👉<b><a href="https://www.starken.cl/seguimiento?codigo={{clienteOF}}">{{clienteOF}}</a></b></p></textarea>
				</div>
			</div>

	</form>
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

	<script>
		var app = new Vue({
			el: '#app',
			data: {
				clienteNombre: '',
				clienteOF: ''
			}
		})
	</script>
</body>

</html>